<%= form_for(@service_default_value) do |f| %>
  <% if @service_default_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_default_value.errors.count, "error") %> prohibited this service_default_value from being saved:</h2>

      <ul>
      <% @service_default_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br>
    <%= f.text_field :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :expired_at %><br>
    <%= f.text_field :expired_at %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.text_field :service_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
