<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @service_default_value.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @service_default_value.value %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service_default_value.status %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @service_default_value.deleted_at %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @service_default_value.expired_at %>
</p>

<p>
  <strong>Service:</strong>
  <%= @service_default_value.service %>
</p>

<%= link_to 'Edit', edit_service_default_value_path(@service_default_value) %> |
<%= link_to 'Back', service_default_values_path %>
