<%= form_for(@config_set) do |f| %>
  <% if @config_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@config_set.errors.count, "error") %> prohibited this config_set from being saved:</h2>

      <ul>
      <% @config_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :config_type %><br>
    <%= f.select :config_type, options_for_select(['service', 'list'] , "list")%>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br>
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="field">
    <%= f.label :expired_at %><br>
    <%= f.datetime_select :expired_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
